h2{
  border: solid;
  border-width: 1px,3px,3px,1px;
  border-radius: 5px;
  padding: 4px;
  color: white;
}


body {
  background-image: url("../dice.jpg");
    font-family: fantasy;
}
h1 {
  text-align: center;
  font-family: fantasy;
}
 h3{
  color: #ccffcc;
 }

 #roll {
   color: black;
 }
 #roll1 {
   color: black;
 }

 #hold {
   color: black;
 }

 .diceTwo {
   border: solid;
   border-width: 2px,4px,4px,2px;
   text-align: center;
   border-radius: 400px;
 }

 .diceOne {
   border: solid;
   border-width: 2px,4px,4px,2px;
   text-align: center;
   border-radius: 400px;
 }
#gifpic1 {
  padding-left: 450px;
}
#pic {
  display: none;
}
#stop {
  display: none;
}
